# ========== REQUIRED ==========
API_ID=
API_HASH=
BOT_TOKEN=
MONGO_URL=
OWNER_ID=

# ========== OPTIONAL ==========
OWNER_USERNAME=
SUPPORT_GRP=
UPDATE_CHNL=

# ========== RENDER / HOSTING (optional) ==========
# PORT=10000
